.menu {
    padding-top: 8.5rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "heading heading"
        "filter list";
    row-gap: 2rem;
    column-gap: 2rem;
}

.menu__heading {
    grid-area: heading;
    text-align: center;
    font-size: 4rem;
    color: var(--text-color);
}

.menu__heading span {
    color: var(--yellow);
}

.menu__filter {
    grid-area: filter;
    font-size: 2rem;
    color: var(--text-color);
}

.menu__choice {
    margin-top: 1rem;
    padding: 1rem 0 1rem 0.5rem;
    border-left: .4rem solid var(--yellow);
}

.menu__choice.active {
    background: var(--yellow);
    border-radius: 1rem;
    color: var(--white);
    transform: scale(1.05);
}

.menu__choice:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.menu__list {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 2rem;
    list-style: none;
}

.menu__item {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.menu__item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.item__img {
    width: 100%;
    height: 15rem;
    border-radius: 2rem;
    object-fit: cover;
}

.item__name {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    padding-top: 1.5rem;
}

.item__desc {
    font-size: 1.5rem;
    color: var(--text-color);
    padding-top: .5rem;
}

.item__price-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

.item__price {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--yellow);
}

.item__btn {
    opacity: 0;
    padding: 1rem 4rem;
}

.menu__item:hover .item__btn {
    opacity: 1;
}

/* Responsive */
/* Tablet + Mobile */
@media (max-width: 1023px) {
    .menu {
        grid-template-areas:
            "heading"
            "filter"
            "list";
        grid-template-columns: 1fr;
    }
    .menu__filter {
        width: 15rem;
        margin: 0 0 0 auto;
    }
    .menu__choice {
        margin-top: 0;
        display: none;
    }
    .menu__choice.active {
        transform: none;
        display: block;
    }
}

/* Tabet */
@media (min-width: 739px) and (max-width: 1023px) {}

/* Mobile */
@media (max-width: 739px) {
    .menu__list {
        grid-template-columns: repeat(2, 1fr);
    }
}